* {
  background-color: darkgrey;
}


/* Header Styling */

h1 {
  font-size: 3vw;
  margin-bottom: 30px;
}

figure {
  background-color: red;
  padding: 30px;
  width: 65%;
  margin: auto;
}

img {
  width: 100%
}

figcaption {
  background-color: inherit;
  font-size: 2vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
  font-family: 'Zeyada', Tahoma;
}
